<h2>Search for a room or choose one from list below</h2>
<span style='color: red'>{{ error }}</span>
<form action="/search/" method="GET">
<input type="text" name="name" placeholder="room name" />
<input type="number" name="capacity" placeholder="minimal capacity" />
<label for="projector">
Projector:
</label>
<input type="checkbox" name="projector" id="projector" />
<button type="submit" class="btn btn-light">&nbspSearch&nbsp
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg> </button>
</form>
<br>
<ul>
    {% for room in rooms %}
    <li>
        <a style="text-decoration: none; color: black; font-weight: bold"  href="{% url 'details' room.id %}">{{ room.name }}</a><br>
        Capacity: {{ room.capacity }}<br>
        {% if room.projector == True %}
        Projector: Yes<br>
        {% else %}
        Projector: No<br>
        {% endif %}
        {% if room.is_reserved %}
            <p style="color: red">This room is reserved for today</p>
        {% else %}
            <p style="color: green">This room is available for reservation</p>
        {% endif %}
        <a class="btn btn-secondary" href="/room/delete/{{ room.id }}/">Delete</a>
        <a class="btn btn-secondary" href="/room/modify/{{ room.id }}/">Modify</a>
        <a class="btn btn-secondary" href="/room/reserve/{{ room.id }}/">Reserve</a>
    </li>
    {% empty %}
        No rooms available
    {% endfor %}
</ul>
