<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.row {
  display: -webkit-flex;
  display: flex;
}
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
}
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>
<div class="header">
    <h2>Rooms available for reservation</h2>
</div>
<span style='color: red'>{{ error }}</span>
<br>
    <ul>
        {% for room in rooms %}
        <li>
            <div class="column" style="background-color:#ccc">
            <a style="text-decoration: none; color: black; font-weight: bold"  href="{% url 'details' room.id %}">{{ room.name }}</a><br>
            Capacity: {{ room.capacity }}<br>
            {% if room.projector == True %}
            Projector: Yes<br>
            {% else %}
            Projector: No<br>
            {% endif %}
            {% if room.is_reserved %}
                <p style="color: red">This room is reserved for today</p>
            {% else %}
                <p style="color: green">This room is available for reservation</p>
            {% endif %}
            <a class="btn btn-secondary" href="/room/delete/{{ room.id }}/">Delete</a>
            <a class="btn btn-secondary" href="/room/modify/{{ room.id }}/">Modify</a>
            <a class="btn btn-secondary" href="/room/reserve/{{ room.id }}/">Reserve</a>
            <br>
            </div>
        </li>
        {% empty %}
            No rooms available
        {% endfor %}
    </ul>

